# Pandas 1
- - -

## Primer Paso

In [ ]:
import pandas as pd

### DataFrame

Ahora vamos a crear una estructura de datos que sera la que más utilizaremos, un DataFrame.  
El DataFrame es una estructura de datos que se compone de columnas y filas ordenadas.

Un DataFrame se puede construir de diferentes formas, como por ejemplo a partir de una lista, un diccionario, de otro DataFrame, desde una tabla excel, un fichero csv, etc.

In [ ]:
mi_diccionario  = {"Nombre": ["Alice", "Bob", "Eve", "Colin", "Peter", "Frank", "Julie"], 
                   "Edad": [23, 38, 26, 30, 34, 23, 27],
                   "Altura": [1.65, 1.71, 1.68, 1.73, 1.68, 1.77, 1.64], 
                   "Peso": [56, 65, 58, 68, 72, 64, 70]}

In [ ]:
mi_diccionario

In [ ]:
df = pd.DataFrame(mi_diccionario)

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
print("Filas:" + str(df.shape[0]))
print("Columnas:" + str(df.shape[1]))

### Selección

In [ ]:
df

In [ ]:
df["Nombre"]

In [ ]:
df[["Nombre", "Edad"]]

In [ ]:
df.iloc[[1]]

In [ ]:
df.iloc[2:6]

- - -
El "," nos sera útil para poder la distinguir selección de filas de la selección de columnas
- - -

In [ ]:
df.iloc[:,0:2]

In [ ]:
df.iloc[3:6:,0:2]

In [ ]:
df.iloc[[1,3,5]]

In [ ]:
df.iloc[[1,4,5],[0,3]]

### Añadir y eliminar columnas

In [ ]:
df

In [ ]:
df["Sexo"] = ["Femenino", "Masculino", "Femenino", "Masculino", "Masculino", "Masculino", "Femenino"]

In [ ]:
df["Estudiante"] = ["Yes", "No", "Yes", "Yes", "Yes", "Yes", "Yes"]

In [ ]:
df

In [ ]:
df.drop(1)

In [ ]:
df

In [ ]:
df.drop("Estudiante")

In [ ]:
df.drop("Estudiante", axis=1)

In [ ]:
df

In [ ]:
otro_df = df.drop(["Estudiante", "Peso","Edad"], axis=1)

In [ ]:
otro_df

In [ ]:
df

In [ ]:
df.drop(2)

In [ ]:
df.drop([1,3,5])

### Reset Index

In [ ]:
otro_df = df.drop([1,3,5])

In [ ]:
otro_df

In [ ]:
otro_df.reset_index()

In [ ]:
otro_df.reset_index(drop = True)

### Condicionales

In [ ]:
df["Edad"]

In [ ]:
df["Edad"] > 29

In [ ]:
df[df["Edad"] > 25]

In [ ]:
df[df["Edad"] < 35]

In [ ]:
df[df["Edad"] <= 34]

In [ ]:
df[df["Edad"] == 27]

In [ ]:
df[df["Edad"] != 27]

### AND, OR

In [ ]:
df[(df["Edad"] > 25) and (df["Edad"] < 35)]

In [ ]:
df[(df["Edad"] > 25) & (df["Edad"] < 35)]

In [ ]:
df[(df["Peso"] > 70) or (df["Peso"] < 60)]

In [ ]:
df[(df["Peso"] > 70) | (df["Peso"] < 60)]

### Ordenar, contar y distinguir

In [ ]:
df

In [ ]:
df.sort_values("Altura")

In [ ]:
df.sort_values("Altura", ascending=False)

In [ ]:
df["Edad"].count()

In [ ]:
df["Edad"].unique()

In [ ]:
df["Edad"].nunique()

In [ ]:
df["Edad"].value_counts()

In [ ]:
df["Sexo"].value_counts()

### IS IN

In [ ]:
df["Estudiante"]

In [ ]:
df["Estudiante"].isin(["Yes"])

In [ ]:
df[df["Estudiante"].isin(["Yes"])]

In [ ]:
df["Nombre"][df["Estudiante"].isin(["Yes"])]

In [ ]:
df[df["Edad"].isin([26,27])]

In [ ]:
df["Nombre"][df["Edad"].isin([26,27])]

In [ ]:
df["Estudiante"][df["Estudiante"] == "Yes"] = True
df["Estudiante"][df["Estudiante"] == "No"] = False
df["Edad"][df["Edad"] > 25 ] = 70
df["Estudiante"] = df["Estudiante"].replace(False, "NO!!!")

In [ ]:
df

### Operaciones varias

In [ ]:
df["Altura"].sum()

In [ ]:
df["Peso"].min()

In [ ]:
df["Edad"].max()

In [ ]:
df.mean()

In [ ]:
df.describe()

### Apply

In [ ]:
df["Altura"]

In [ ]:
def m_to_cm(x):
    return x * 100

In [ ]:
df["Altura"].apply(m_to_cm)

## Extra:

### GroupBy

In [ ]:
df

In [ ]:
df.groupby("Estudiante")

In [ ]:
df.groupby("Estudiante").mean()

In [ ]:
df.groupby("Estudiante").sum()

In [ ]:
df.groupby(df["Edad"] > 30).sum()

In [ ]:
df.groupby(df["Edad"] > 30).describe()

In [ ]:
df.groupby(df["Edad"] > 30).describe().transpose()

- - -