# Pandas 2 - Gestión de NaNs
- - -

In [ ]:
import pandas as pd

## NaN

Empezaremos por crear un dataframe desde una lista y con el aprenderemos a trabajar con NaN

In [ ]:
new_list = [7,9,8,7,3]

In [ ]:
df = pd.DataFrame(new_list)

In [ ]:
df

In [ ]:
new_list = [[6,6,8,7,3],[4,2,1,4,3],[8,3,6,1,7],[2,5,9,3,8],[5,4,6,1,8]]

In [ ]:
df = pd.DataFrame(new_list)

In [ ]:
df

In [ ]:
my_columns_names = ["A", "B", "C", "D", "E"]

In [ ]:
df = pd.DataFrame(new_list, columns=my_columns_names)

In [ ]:
df

In [ ]:
import numpy as np

In [ ]:
np.nan

In [ ]:
new_list =  [[6,6,8,7,3],[4,2,1,4,3],[8,3,6,1,np.nan],[2,5,9,np.nan,np.nan],[5,4,np.nan,np.nan,np.nan]]

In [ ]:
df = pd.DataFrame(new_list, columns=my_columns_names)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

- - -
Threshold se encargara de poner un límite al drop.

En el siguiente ejemplo solo se eliminaran las columnas que dispongan de menos de 3 valores **no** NaN.
- - -

In [ ]:
df.dropna(axis=1, thresh=3)

In [ ]:
#devuelve el dataframe df con únicamente aquellas columnas que tienen 4 valores 
#no NAN o más
df.dropna(axis=0, thresh=3)

In [ ]:
df

In [ ]:
df.fillna(0)

In [ ]:
df.mean()

In [ ]:
df.fillna(df.mean())

- - -