# Pandas 3 - Concatenar DataFrames
- - -

In [ ]:
import pandas as pd

### Concatenate

In [ ]:
df_a = pd.DataFrame({"Nombre": ["Alice", "Bob", "Eve", "Colin"], 
                    "Expediente": ["005","007","008","010"]})

In [ ]:
df_b = pd.DataFrame({"Nombre": ["Peter", "Frank", "Julie"],
                    "Expediente": ["014","016","019"]})

In [ ]:
df_a

In [ ]:
df_b

In [ ]:
pd.concat([df_a, df_b])

In [ ]:
pd.concat([df_a, df_b], ignore_index=True)

In [ ]:
nuevo_df = pd.concat([df_a, df_b], ignore_index=True)
print(nuevo_df)

### Merge

In [ ]:
otro_df = pd.DataFrame({"Apellido": ["Smith", "Johnson", "Williams" , "Miller", "Davis"], 
                        "Expediente": ["004","005","007","008","011"]})

In [ ]:
otro_df

In [ ]:
pd.merge(nuevo_df, otro_df, on="Expediente")

In [ ]:
#Igual que el valor por defecto
pd.merge(nuevo_df, otro_df, on="Expediente", how="inner")

In [ ]:
pd.merge(nuevo_df, otro_df, on="Expediente", how="left")

In [ ]:
pd.merge(nuevo_df, otro_df, on="Expediente", how="right")

In [ ]:
pd.merge(nuevo_df, otro_df, on="Expediente", how="outer")

- - -