# Pandas - Ejercicios dataset Titanic



- - -

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/4data-lab/datasets/master/titanic.csv")

#### Columnas
survived (Sobrevivió)  
pclass (Clase de números)  
sex (Sexo)  
age (Edad)  
sibsp (Número de hermanos/cónyuges abordo)  
parch (Número de padres/hijos)   
fare (Tarifa)  
embarked (Embarcado)  
class (Clase en texto)  
adult_male (Hombre Adulto)  
deck (Cubierta)  
embark_town (Pueblo de embarcación)  
alive (Vivo)  
alone (Solo)

- - -
1 - Muestra solo los primeros 5 registros

- - -
2 - Obtén cuales son las distintas clases de viaje de este dataframe

`array(['Third', 'First', 'Second'], dtype=object)`

- - -
3 - Obten el valor máximo de edad en el dataframe

`Out: 80.0`

- - -
4 - Obten cúantos valores distintos hay en la columna de Pueblo de embarcación

`Out: 3`

- - -
5 - Muestra solo las primeras cinco edades más frencuentes

`Out:
24.0    30
22.0    27
18.0    26
19.0    25
30.0    25
Name: age, dtype: int64`

- - -
6 - Muestra los registros que cumplan la condición de disponer el valor de cubierta ("deck") "F"

- - -
7 - Muestra los registros que cumplan la condición de disponer más de 47 años y menos de 49 años

- - -
8 - Obten los nombres de los pueblos de embarcación de los pasajeros de la cubierta "A"

`Out: 
23     Southampton
96       Cherbourg
174      Cherbourg
185    Southampton
209      Cherbourg
284    Southampton
445    Southampton
475    Southampton
556      Cherbourg
583      Cherbourg
599      Cherbourg
630    Southampton
647      Cherbourg
806    Southampton
867    Southampton
Name: embark_town, dtype: object`

- - -

9 - Muestra la media de los valores del dataframe agrupando por sexo

- - -
10 - Define una función que capitalice strings y con pandas aplicala a la columna sexo

`Entrada : hola mundo`
`Salida: Hola mundo`
`Pista: capitalize()`

11 - Reemplaza todos los NaN de la columna deck por la palabra 'Unknown'

12 - ¿Cuál es el precio promedio del billete que pagaron los pasajeros por cada clase (primera, segunda, tercera)?

`Out: First     84.154687
Second    20.662183
Third     13.675550 `

- - -

13 - ¿Cuántos supervivientes están todavía vivos?


 `Out: 342`

- - -

14 - ¿Cuál fue el precio del billete de segunda clase más caro? ¿Y el más barato?


`Out : Caro: 73.5 Barato: 0.0 `

- - -

15- Elimina el tercer registro del dataframe

- - -

16- Añade un nuevo registro al dataframe de un hombre que embarcó desde el puerto de Barcelona. Puedes inventarte el resto de campos.

- - -

17- Ordena el dataframe según la edad de los registros.

18 - Guarda el dataframe como un fichero de Excel.

- - -

# Pandas - Ejercicios dataset Youtube

1- Descárgate el dataset de YouTube del eStudy y cárgalo en un DataFrame.

2- Muestra los 3 primeros registros.

3- ¿Cuál es el promedio de suscriptores que tiene cada canal?

4- ¿Qué canal tiene el nombre más largo?

5- ¿Qué porcentaje de canales son de marcas?

6- ¿Cuál es la categoría menos popular? ¿Y la más popular?

7- ¿Cuántos canales Educativos tienen el Inglés como lengua principal?

8- Crea una nueva columna en el dataset con el continente de cada canal.

9- Enumera el promedio de suscriptores por continente.

10- Crea un DataFrame independiente con la información de los canales de YouTube de Lady Gaga y La Salle Campus Barcelona que tenga como datos el nombre del canal, los suscriptores y la categoría.

11- Une el DataFrame creado en el punto 10 con el DataFrame original en un nuevo DataFrame.

12 - Modifica los nombres de los canales para que no haya espacio en ellos. Para ello, reemplaza todos los espacios por el carácter "_".